@charset "UTF-8";

/* CSS Document */


.hidden {
	display: none;
}

p
{
	color: #000;
	margin: 0;

}


#topBar
{
	background-color: #0d8807;
	width: 960px;
	margin: 0 auto;
	height: 21px;
    margin-bottom: 500px;
}

#siteContainer 
{
	margin: 0 auto;
	width: 960px;
}

#mainNav 
{
	float: right;
	width: 560px;
	margin-right: 15px;
	
}
#mainNav ul li
{
	
	display: inline;
	margin-left: 25px;
	
}

#mainNav ul li a
{
	color: #848c96;
	padding: 5px;
}

#mainNav ul li a:hover
{
	background-color: #033e00;
	padding: 5px;
}

#aboutMyself
{
	font-size: 17px;
	margin-bottom: 83px;
	margin-top: 100px;
	background-color: #dcfbdb;
	width: 930px;
	height: 700px;
    float: left;
    
	
}

#mainHeader
{
	width: 960px;
	height: 80px;
	margin-top: 24px;
	overflow: hidden;
	border-bottom: solid 1px #DDD;
	background-color: #dbefcd;
    float: right
}

.aboutUsHeading
{
    color: #022600;
	margin-left: 10px;
	font-size: 30px;
	margin-bottom: 40px;
}

.aboutMySelfpara
{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 24px;
		margin-left: 10px;
    margin-bottom: 50px;
}

#aboutMyHobbies
{
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 24px;
		margin-left: 10px;
    margin-bottom: 50px;
}

#myFeaturePlan
{
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 24px;
		margin-left: 10px;
    margin-bottom: 50px;
}
